.center img {
  margin: 0px auto;
  width: 100px;
  height: 100px;
}
.center h3 {
  display:inline;
}
.search a {
    display:inline;
}
.search input[type="text"] {

}
table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
    background : none;
}